body {
    margin: 0;
    background-color: rgb(248, 247, 242);
    font-family: sans-serif;
}
header{
    position:sticky;
    top: 0;
    z-index: 100;
}
.nav {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255,0.9);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav a {
    color: rgb(150, 150, 150);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    margin-right: 10px;
    transition: 0.3s;
}
#title{
    display: flex;
    align-items: center;
    color: black;
}

.nav a:hover {
    background-color: rgb(241, 235, 227);
    color: black;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#right {
    position: absolute;
    right: 20px;    
}
#signIn{
    margin-right:10px ;
    color: black;
}
#signUp {
    background-color: rgb(57, 142, 95);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#signUp:hover {
    background-color:rgb(57, 142, 95);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#logo{
    height: 30px;
    width: 30px;
}
#title:hover{
    transform: none;
    box-shadow: none;
    background-color: transparent;
    opacity: 0.5;
}
#left{
    position: fixed;
    left: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
#home{
    background-color: rgba(171, 219, 171, 0.404) ;
    color:rgb(57, 142, 95);
    border-radius: 10px;
    margin-right: 10px;
}
#tagline{
    margin: auto;
    width: 330px;
    height: 10px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(194, 219, 194, 0.298);
    color:rgb(57, 142, 95);
}
#slogan{
    margin-left: 10px;
    font-family:sans-serif ;
}
#taglogo{
    height: 20px;
    width: 20px;
}
#moto{
    text-align: center;
    margin: 20px auto 10px auto;
    width: 1000px;
    font-size: 65px;
}
#gradient-text {
    background: linear-gradient(to right,rgb(57, 142, 95), #d59536); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline; 
}
#text{
    text-align: center;
    margin: auto;
    width: 1000px;
    font-size: 20px;
    color:rgb(150, 150, 150) ;
}
#btns{
    text-align: center;
    margin-top: 25px;
}
#share{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
    width: 180px;
    height: 20px;
    transition: 0.3s;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 142, 95) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#browse{
    outline: 1px solid rgb(94, 91, 91);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    width: 240px;
    height: 20px;
    border-radius: 10px;
    color:black;
    font-size: 20px;
}
#share:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#browse:hover{
   background-color: rgb(241, 235, 227);
}
#stat{
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
#donorst,#mealst,#foodst{
    text-align: center;
    display: inline-block;
    margin: 0px 100px 0px 100px;
    color: rgb(150, 150, 150);
}
#manual{
    background-color: rgb(253, 251, 238);
    margin-top: 80px;
    padding-bottom:10px;
}
#upload{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
#guide{
    width: 250px;
    border-radius: 12px;
    background-color: white;
    display: inline-block;
    margin: 23px;
    padding: 20px;
    transition: 0.3s;
    position:relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
#guide:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#step{
    position: absolute;
    top: -15px;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color:rgb(57, 142, 95);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
#search{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
#step2{
    position: absolute;
    top: -15px;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color:rgb(57, 142, 95);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
#location{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
#step3{
    position: absolute;
    top: -15px;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color:rgb(57, 142, 95);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
#check{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
#step4{
    position: absolute;
    top: -15px;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color:rgb(57, 142, 95);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
#available{
    display:flex;
    align-items: center;
    margin: 20px 0px 20px 30px;
}
#view{
    text-decoration: none;
    outline: 1px solid black;
    position:absolute;
    right: 0px;
    margin-right: 15px;
    padding: 5px;
    color: black;
}
#view:hover{
    background-color:rgb(241, 235, 227);
}
.footer{
    display: flex;
    font-size: 15px;
    align-items: center;
    background-color: white;
}
footer{
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}
footer a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: 0.3s;
}
#footer{
    width: 250px;
    padding:50px;
}
footer a:hover{
    color:rgb(89, 189, 89);
}
#policy{
    position: absolute;
    right: 20px;
    padding: 10px;
}
#mail,#phone,#locate{
    width: 20px;
    height: 20px;
    display: inline;
}