body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

#currentPass, #newPass {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    background-color: #fffaf5; 
}

#currentPass:focus, #newPass:focus {
    border-color: #008000;
    outline: none;
}


#updatePassword {
    width: 100%;
    padding: 12px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;

}

#updatePassword:hover {
    background-color: #006400;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #666;
    font-size: 13px;
}