*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    
}

body{
    background-color: rgb(248, 247, 242);
}

.sidebar{

    background-color:white;
    height: 100vh;
    z-index: 1;
    width: 240px;
    position: fixed;

}

.logo{
    height:60px ;
    width: 200px;
    display: flex;
    position: relative;
    top: 20px;
}


#logoImg{
    height: 40px;
    width: 38px;
    margin-left: 15px;
    background-color: rgb(21, 153, 21);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}
#logoTag{
    height: 50px;
    width: 70px;
    margin: 10px 0px 0px 20px;
   
  
} 


a{
    text-decoration: none;
    color: grey;
    
   
}

#navbar1{
 
   padding: 20px 0px 10px 30px;
   color: grey;
   background-color: rgb(219, 246, 217);
}

#navbar2{
    padding: 20px 0px 10px 30px;
    color: grey;
  
}

#navbar3{
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar4{
   padding: 20px 0px 10px 30px;
   color: grey;
}

/* .singleline{
    position: absolute;
    width: 240px;
    bottom: 120px;
    border: 0.2px solid black;

} */

#userProfile {
    position: absolute;
    display: flex;         
    align-items: center;  
    padding: 15px 15px; 
    margin-top: 310px; 
    margin-left: 20px; 
    font-size: 18px;
      
}

#userProfile i {
            
    margin-right: 10px;    
         
}






#signOut{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: grey;
}

#mainPart{
    position: absolute;
    top: 25px;
    left:265px;
}


.dashboard{
    margin-top: 15px;
    display: flex;
    height: 130px;
    width: 1218px;
 
    justify-content: space-between;
   

}

.dashDiv{
    margin-top: 5px;
    padding-top:15px ;
    padding-left: 20px;
    background-color: white;
    height: 80px;
    width: 370px;
    color: grey;
    
    border-radius: 12px;
    font-size: 15px;
   

}

.PostDiv{
    display: flex;
}

#newPostDiv{
    height: 15px;
    width: 100px;
    padding: 5px;
    background-color: green;
    margin-left: 1000px;
    border-radius: 10px;
}

#postDiv{
    color: white;
    font-size: 13px;
}



.updatePortion{
    margin-top: 4px;
}

span{
    font-size: smaller;
    
}
#portions{
    color: grey;
}
#time{
    margin-left: 4px;
    color: grey;
 }
#claim{
    font-size: 12px;
    margin-left: 7px;
    background-color: rgb(245, 240, 218);
    color: green;
    padding: 4px;
    border-radius: 8px;

}


.Activity{

    display: flex;
    margin-top: 15px;

}

#viewall{
    text-decoration: none;
    margin-left: 1050px;
    font-size: 15px;
}

.activityHistory{
    margin-top: 7px;
    margin-bottom: 7px;
    padding:20px ;
    background-color: white;
    height: 20px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border: 1px solid white;
}

td {
    padding: 10px;
    text-align: left;
}



#btndelete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

