*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    
}

body{
    background-color: rgb(248, 247, 242);
}

.sidebar{

    background-color:white;
    height: 100vh;
    z-index: 1;
    width: 240px;
    position: fixed;
 
   


}

.logo{
    height:60px ;
    width: 200px;
    display: flex;
    position: relative;
    top: 20px;
    
    


}
#logoImg{
    height: 40px;
    width: 38px;
    margin-left: 15px;
    background-color: rgb(21, 153, 21);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}
#logoTag{
    height: 50px;
    width: 70px;
    margin: 10px 0px 0px 20px;
   
  
} 


a{
    text-decoration: none;
    color: grey;
    
   
}

#navbar1{
 
   padding: 20px 0px 10px 30px;
   color: grey;

}

#navbar2{
    padding: 20px 0px 10px 30px;
    color: grey;
    
  
}

#navbar3{
   padding: 20px 0px 10px 30px;
   color: grey;
   background-color: rgb(219, 246, 217);
}

#navbar4{
   padding: 20px 0px 10px 30px;
   color: grey;
}

#userProfile {
    position: absolute;
    display: flex;         
    align-items: center;  
    padding: 15px 15px; 
    margin-top: 310px; 
    margin-left: 20px; 
    font-size: 18px;
    color: grey;    
}

#userProfile i {
            
    margin-right: 10px;    
         
}




#signOut{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: grey;
}

#mainPart{
    position: absolute;
    top: 25px;
    left:265px;
}


.history{
    margin-top: 15px;
    display: flex;
    height: 120px;
    width: 1218px;
 
    justify-content: space-between;
   

}

.hisDiv{
    margin-top: 5px;
    padding-top:15px ;
    padding-left: 20px;
    background-color: white;
    height: 80px;
    width: 280px;
    color: grey;
    
    border-radius: 12px;
    font-size: 15px;
   

}

#actPost1{
  
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;

}
#actPostTag{
    margin-left: 10px;
    margin-top: 10px;
 
}

#img1{

    height: 60px;
    width: 60px;
    background-image: url("images/vegBiriyani.jpg");
    background-size: cover;
    border-radius: 10px;
}



#claim{
    height: 15px;
    margin-top: 22px;
    margin-left: 700px;
    font-size: 12px;
    background-color: rgb(245, 240, 218);
    color: green;
    padding-top: 6px;
    padding: 4px;
    border-radius: 8px;

}

#view{
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(93, 91, 91);
    height: 30px;
    padding: 7px;
    border-radius: 9px;
    border: 1px solid white;
    
}

span{
    font-size: smaller;
    
}
#portions{
    color: grey;
}
 #time{
    margin-left: 4px;
    color: grey;
 }

 #actPost2{
    margin-top: 10px;
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
    

}
#img2{

    height: 60px;
    width: 60px;
    background-image: url("images/fruitSalad.jpg");
    background-size: cover;
    border-radius: 10px;

}

#expired{
    height: 13px;
    margin-top: 22px;
    margin-left: 710px;
    font-size: 12px;
    background-color: red;
    color: white;
    padding:5px 10px 5px 10px;
    border-radius: 10px;

}

#actPost3{
    margin-top: 10px;
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
    

}
#img3{

    height: 60px;
    width: 60px;
    background-image: url("images/vegetable-fried-rice.jpg");
    background-size: cover;
    border-radius: 10px;
}