*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    
}

body{
    background-color: rgb(248, 247, 242);
}

.sidebar{

    background-color:white;
    height: 100vh;
    width: 240px;
    position: fixed;
    z-index: 10;

}
.logo{
    height:60px ;
    width: 200px;
    display: flex;
    position: relative;
    top: 20px;
}


#logoImg{
    height: 40px;
    width: 38px;
    margin-left: 15px;
    background-color: rgb(21, 153, 21);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}
#logoTag{
    height: 50px;
    width: 70px;
    margin: 10px 0px 0px 20px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 25px;
} 


a{
    text-decoration: none;
    color: grey;
}

#navbar1{
 
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar2{
    padding: 20px 0px 10px 30px;
    color: grey;
}

#navbar3{
   padding: 20px 0px 10px 30px;
   color: grey;
}
#navbar6{
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar4{
   padding: 20px 0px 10px 30px;
   color: grey;
   background-color: rgb(196, 244, 191);

}

#navbar1:hover{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar2:hover{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar3:hover{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar4:hover{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}
#navbar6:hover{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#signOut{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: grey;
}

#mainPart{
    position: absolute;
    top: 25px;
    left:265px;
}
#usertable{
    background: #fdfdfd;
    border-radius: 8px;
    padding: 16px;
    overflow-x: auto;
    border: 1px solid gainsboro;
}
table {
  border-collapse: collapse;
  min-width: 900px; 
  width: 100%;
  padding:10px;
}
thead tr {
  border-top: 1px solid #ddd7d7;
  border-bottom: 2px solid #a9a3a3;
}
thead td {
  font-weight: 700;
  padding:15px 16px;
}
td {
  padding: 14px 16px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px solid #a9a3a3;
  text-align: center;
}
.dashboard{
    margin-top: 15px;
    display: flex;
    height: 130px;
    width: 1218px;
    justify-content: flex-start; 
    gap: 70px;

}
#navbar5{
    padding: 20px 0px 10px 30px;
    margin-top:280px;
    color: grey;

}
#logout{
    padding:5px;
    background:transparent;
    border:0px;
}

#view{
    margin-top:30px;
    text-align: center;
}
#viewbtn{
text-align: center;
text-decoration:none;
color:white;
background-color:rgb(47, 99, 47); ;
border-radius: 3px;
margin-top:10px;
margin-bottom: 10px;
padding:10px;
}
#viewbtn:hover{
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dashDiv{
    margin-top: 5px;
    padding-top:15px ;
    padding-left: 20px;
    background-color: white;
    height: 80px;
    width: 250px;
    color: grey;
    border-radius: 12px;
    font-size: 15px;
   

}

.PostDiv{
    display: flex;
}

#newPostDiv{
    height: 15px;
    width: 100px;
    padding: 5px;
    background-color: green;
    margin-left: 1000px;
    border-radius: 10px;
}

#postDiv{
    color: white;
    font-size: 13px;
}

#actPost1{
    margin-top: 9px;
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;

}

#img1{

    height: 60px;
    width: 60px;
    background-image: url("images/vegBiriyani.jpg");
    background-size: cover;
    border-radius: 10px;
}

#actPostTag{
    margin-left: 10px;
    margin-top: 10px; 

}

.updatePortion{
    margin-top: 4px;
}

span{
    font-size: smaller;
    
}
#portions{
    color: grey;
}
#time{
    margin-left: 4px;
    color: grey;
 }
#claim{
    font-size: 12px;
    margin-left: 7px;
    background-color: rgb(245, 240, 218);
    color: green;
    padding: 4px;
    border-radius: 8px;

}
#historybtn{
    position: relative;
    
}
#markGive{
    margin-left: 638px;
    margin-top: 20px;
    height: 30px;
    padding: 7px;
    background-color: green;
    color: white;
    border-radius: 9px;
    border: 1px solid white;
}
#edit{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(246, 243, 229);
    height: 30px;
    padding: 7px;
    border-radius: 9px;
    border: 1px solid white;
}

#delete{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(246, 243, 229);
    color: red;
    height: 30px;
    padding: 7px;
    border-radius: 9px;
    border: 1px solid white;
}

#actPost2{
    margin-top: 10px;
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
    

}
#img2{

    height: 60px;
    width: 60px;
    background-image: url("images/fruitSalad.jpg");
    background-size: cover;
    border-radius: 10px;

}

#actPost3{
    margin-top: 10px;
    padding:20px ;
    background-color: white;
    height: 60px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
    

}
#img3{

    height: 60px;
    width: 60px;
    background-image: url("images/vegetable-fried-rice.jpg");
    background-size: cover;
    border-radius: 10px;

}

.Activity{

    display: flex;
    margin-top: 15px;

}

#viewall{
    text-decoration: none;
    margin-left: 1050px;
    font-size: 15px;
}

.activityHistory{
    margin-top: 7px;
    margin-bottom: 7px;
    padding:20px ;
    background-color: white;
    height: 20px;
    width: 1215px;
    border-radius: 15px;
    display: flex;
}