*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    
}

body{
    background-color: rgb(248, 247, 242);
}

.sidebar{

    background-color:white;
    height: 700px;
    width: 240px;
    position: fixed;
 
   


}

.logo{
    height:60px ;
    width: 200px;
    display: flex;
    position: relative;
    top: 20px;
    
    


}
#logoImg{
    height: 40px;
    width: 38px;
    margin-left: 15px;
    background-color: rgb(21, 153, 21);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}
#logoTag{
    height: 50px;
    width: 70px;
    margin: 10px 0px 0px 20px;
   
  
} 


a{
    text-decoration: none;
    color: grey;
    
   
}

#navbar1{
 
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar2{
    padding: 20px 0px 10px 30px;
    color: grey;
  
}

#navbar3{
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar4{
   padding: 20px 0px 10px 30px;
   color: grey;
}

#navbar1:active{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar2:active{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar3:active{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#navbar4:active{
    background-color: rgb(214, 252, 214);
    color: rgb(39, 118, 32);
    
}

#signOut{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: grey;
}

.main{
    position: absolute;
    top: 25px;
    left:300px;
}

#formp1{
    background-color: white;
    border-radius: 20px;
    height: 420px;
    width: 650px;
    position: relative;
    top: 20px;
    font-family:'Times New Roman';
    font-size: 15px;
    padding: 20px 0px 0px 20px;

    
}

#userProfile {
    position: absolute;
    display: flex;         
    align-items: center;  
    padding: 15px 15px; 
    margin-top: 310px; 
    margin-left: 20px; 
    font-size: 18px;
    color: grey;    
}

#userProfile i {
            
    margin-right: 10px;    
         
}

#titleForm1{

    color: green;
}
/* .picUpload{
    display: flex;
    margin-bottom:15px ;

}
#picUpload{
    border-radius: 50%;
    background-color: rgb(244, 239, 212);
    height: 80px;
    width: 80px;
    

}
#cngPicbtn{

    background-color: rgb(248, 247, 242);
    height: 35px;
    color: black;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    border: 1px solid rgb(234, 211, 175);
    margin-top: 20px;
    margin-left: 25px;
 
} */

#orgName{
    background-color: rgb(248, 247, 242);
    height: 30px;
    width: 370px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid rgb(234, 211, 175);
    border-radius: 10px;

}
#email{
    background-color: rgb(248, 247, 242);
    height: 30px;
    width: 450px;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid rgb(234, 211, 175);
    border-radius: 10px;

}

#phnNo{
    background-color: rgb(248, 247, 242);
    height: 30px;
    width: 403px;
    padding: 5px;
    margin-left: 15px;
    border: 1px solid rgb(234, 211, 175);
    border-radius: 10px;

}

#defaultAdd{

    background-color: rgb(248, 247, 242);
    height: 30px;
    width: 353px;
    padding: 5px;
    margin-left: 15px;
    border: 1px solid rgb(234, 211, 175);
    border-radius: 10px;

}


#cbox{
    margin-left: 165px;
}

#about{
    
    height: 70px;
    width: 450px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(248, 247, 242);
    border: 1px solid rgb(213, 171, 103);
}

#saveChange{
    height: 40px;
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid white;
}

#formp2{
    background-color:white;
    border-radius: 20px;
    height: 300px;
    width: 650px;
    font-family:'Times New Roman';
    padding: 20px 0px 0px 20px;
    margin-top: 40px;
    
    

}

#titleForm2{
    color: green;
}


.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
}


.text-content h3 {
    margin-bottom: 4px;
    font-size: 16px;
    color: black;
    font-weight: lighter;
}

.text-content small {
    color: #666;
}


.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
}
  


.switch input {
    display: none;
}

 

 
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(205, 201, 201);
    transition: 300ms linear;
    cursor: pointer;
    border-radius: 34px;
}
    

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 10px;
    bottom: 3px;
    background-color: white;
    transform: translateX(-50%);
    transition: left 300ms linear;
    border-radius: 50%;
}


input:checked + .slider {
    background-color: green;
}


input:checked + .slider:before {
    left: 32px;
}


#savePreferences {
  
    height: 40px;
    background-color: rgb(247, 245, 234);
    color:rgb(75, 74, 74);
    padding: 9px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid rgb(201, 197, 197);
}


#formp3{
    background-color:white;
    border-radius: 20px;
    height: 100px;
    width: 650px;
    font-family:'Times New Roman';
    padding: 20px 0px 0px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    

}

#tbtn1{
    margin-left: 320px;
    display: inline-block;
}

#titleForm3{
    color: green;
}

#cngPassbtn{

    height: 40px;
    background-color: rgb(247, 245, 234);
    color:rgb(75, 74, 74);
    padding: 9px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid rgb(201, 197, 197);

}

#deleteAcc{
    
    height: 40px;
    background-color: red;
    color:white;
    padding: 9px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid rgb(201, 197, 197);
}

#claim{
    color: rgb(99, 98, 98);
}

#reminder{

    color: rgb(99, 98, 98);
}
