*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo{
    display: inline-block;
    margin: auto;
    padding-top: 20px;
    height: 10px;
    padding-left: 200px ;
    size: 20px;
}
#logo:active
{
background-color: antiquewhite;
color: white;
}
#food
{
display: inline-block;
padding-left: 20px;
padding-top: 1px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a
{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: auto;
    padding: auto;
}
a:hover
{
background-color: rgb(247, 240, 240);
border-radius: 13px;
position: relative;

}
.nav
{
    float: left;
    color-scheme: white;
    padding-top: 20px;
    padding-left: 370px;
    text-align: justify;
   
    }
#home
{
    padding-left: 20px ;
    padding-right: 30px ;
    font-size: 20px;
}
#browse
{
  padding-left: 20px ;
  padding-right: 30px ;
  font-size: 20px;
}
#works
{
    padding-left: 20px ;
   padding-right: 30px ;
    font-size: 20px;
    position: relative;
}
#sign
{
justify-content: space-between;
margin-left: 200px ;
padding-right: 25px ;
padding-left: 20px;
font-size: 20px;
color:black;

}
#button
{
   margin-left: 200px ;
   padding-left: 150px;
   padding-top: 30px; 
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 155, 80);
    color: whitesmoke;
    border-radius: 13px;
    float: left;
}
#button:hover
{
    background: #27ae60;
    color: white;
    position: absolute;
}
#ava
{
   padding-left: 250px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p1
{
    padding-left: 250px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: gray;
}
#search
{
    float: left;
    margin-left: 220px ;
    width: 1300px;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px ;
    margin-right: 30px; 
    margin-top: 10px ;
    margin-left: 250px;

}
#filter
{
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 13px;
    padding-bottom: 10px;
    }

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); 
    gap: 30px;
    padding: 20px;
    width: 95%;          
    margin: 0 auto;
    margin-left: 250px;
}

.card, .card2, .card3, .card4, .card5, .card6, .card7, .card8 {
  width: 100%;        
    margin-left: 0;     
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    float: none;
}

.column {
 display: flex;
 flex-direction: column;
 gap:20px;
}

.image-box {
  position: relative;
}

.image-box img {
  width: 100%;
  height: 200px;
}


.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.time {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}


.content {
  padding: 15px;
}

.content h2 {
  font-size: 18px;
  margin: 0;
}

.hotel {
  color: gray;
  font-size: 13px;
}


.info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}


.b {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2ecc71;
  color: white;
  font-size: 16px;
  border-radius: 25px;
}

.b:hover {
  background: #27ae60;
}

#mainPart {
   position: absolute;
   top: 25px;
   left: 350px; 
}